$title-size: 1.7rem;
$title-size-mobile: 1.6rem;

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.anchor {
  scroll-margin-top: 64px;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(#fffdd0, 1);
  transition: text-shadow 0.05s ease-in;
  &:hover {
    text-shadow: 1px 1px 3px rgba(#000, 0.4);
  }
}

.dropdown-item_my {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  color: #007bff;
}

.hidden {
  display: none;
}

.btn-cta {
  border: none;
  border-radius: 5px;
  background-color: #8ad5f5;
  transition: all 0.2s ease;

  &:hover {
    color: blue;
    padding: 2px 10px;
  }
}

.p-column-mobile {
  display: 'inline-block';
  text-align: "left";
  max-width: '320px';
}

nav {
  position: sticky !important;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(white 85%, transparent);
  z-index: 6;

  font-family: Cabin Sketch;
  font-size: 23px;
  // font-weight: bold;
  letter-spacing: 0.1rem;

  .logo {
    height: 60px;
    width: 60px;
    margin-left: 30px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }

  .my-dropdown {
    display: flex;
    flex-direction: column;
    right: 0%;
    top: 80%;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .my-container {
    z-index: 2;
    display: relative;

    .grain {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../../public/images/grain.svg);
      // background: url(grain.svg);
      // background-image: url(grain.svg), linear-gradient(to right, transparent, transparent 50%, #d13531);
      // background-repeat: repeat;
      opacity: 0.25;
      z-index: 0;
    }

    // .grain-dient {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   // -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    //   mask-image: linear-gradient(to left, white, white 50%, rgba(0,0,0,0));
    //   opacity: 0.25;
    // }
  }
}

#books {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Amatic SC;
  // font-family: Cabin Sketch;
  font-size: 18px;
  // background-color: skyblue;
  background-image: linear-gradient(
    to right,
    white,
    white 50%,
    rgba(135, 206, 235, 0.5)
  );
  .title {
    z-index: 1;
    font-size: $title-size;
    font-weight: bold;
    color: rgba(0, 84, 173, 0.7);
  }
  .stuff {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    // max-width: 420px;
    padding: 10px 0 25px 0;
    width: 510px;

    .desc {
      max-width: 250px;
      font-style: italic;

      span {
        text-shadow: 1px 1px 3px rgba(#fffdd0, 1);
        vertical-align: middle;
      }
    }
  }
}

#healing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  // background-image: url(../images/heart-nebula.jpg, 10%);

  .title {
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: $title-size;
    .inf {
      font-size: 1.2rem;
    }
  }
  .subtitle {
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color:#a5a5a5;
  }

  .desc {
    z-index: 1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 10px;
    // padding-top: 10px;

    .we-can-address {
      // color: #696969;
      color: #5288a0;
    }
    .anything-really {
      color: #919191;
    }
  }

  .photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;

    .photo {
      border-radius: 50%;
    }
  }
  // background-color: white;
  // background-color: blanchedalmond;
  // background-image: linear-gradient(
  //   to left,
  //   white,
  //   blanchedalmond 40%,
  //   blanchedalmond
  
  width: 100%;
}

#testimonials {
  
}

#music {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 15px 0;
  color:#d60000;
  font-family: Cabin Sketch;
  background: linear-gradient(90deg, rgba(255, 123, 0, 0.918) 20%, rgba(255, 123, 0, 0.25) 50%, rgba(255, 123, 0, 0.918) 80%);
  width: 100%;

  .title {
    z-index: 1;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .desc {
    font-family: Cabin Sketch;
  }

  .music-video-container {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 840px) {
      flex-direction: column;
      align-items: center;
    }

    .music-video {
      margin: 15px 5px 0px 5px;
  
      iframe {
        width: 420px;
        height: 315px;
      }
      
      @media only screen and (max-width: 600px) {
        margin: 5px 5px 5px 5px;

        iframe {
          width: 320px;
          height: 240px;
        }
      }
    }
  
  }

  .more {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .click-for-more {
      color:#d60000;
      font-weight: bold;
      
      &:hover {
        text-decoration: underline;
      }
    }

    .link-discography {
      font-family: Cabin Sketch;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#art {
  color:#684dff;
  font-family: Cabin Sketch;
  // background: rgba(59, 130, 246, 0.2);
  background: linear-gradient(90deg, rgba(59, 130, 246, 0.918) 20%, rgba(59, 130, 246, 0.25) 50%, rgba(59, 130, 246, 0.918) 80%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 30px 0;

  .title {
    z-index: 1;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
}

#whoami {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5e2d008f;
  background-color: blanchedalmond;
  background-image: linear-gradient(
    to left,
    white,
    blanchedalmond 40%,
    blanchedalmond
  );
  width: 100%;
  position: relative;

  padding: 25px 0;

  .slideshow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 176px;

    .boyowa {
      position: absolute;
      height: 176px;
      width: auto;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .desc {
    max-width: 400px;
    padding: 0 15px;
    font-family: Cabin Sketch;
    // font-weight: 700;
    z-index: 1;
    text-align: left;
  }

  .show-more {
    color: palevioletred;
    display: block;
    // font-weight: bold;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  .show-less {
    @extend .show-more;
    font-weight: normal;
    font-size: 15;
  }
  .more-to-show {
    // display: none;
    // transition: display 2s linear;
  }

  .text-break {
    display: block;
    font-size: 30px;
    // font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
  }
}

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  background-image: linear-gradient(
    to bottom right,
    white,
    white 50%,
    rgba(135, 206, 235, 0.5)
  );

  .connect {
    width: 300px;
    .title {
      display: block;
      font-family: Amatic SC;
      letter-spacing: 0.3rem;
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 10px;
      width: 100%;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;

      & > * {
        margin: 1px 0;
      }

      button {
        &:hover {
          cursor: pointer;
        }
      }

      textarea {
        resize: vertical;
      }
    }

    .form-input {
      font-family: "Courier New", Courier, monospace;
      border: 1px solid rgba(135, 206, 235, 1);
      padding: 7px 3px;
      background-image: linear-gradient(
        to bottom right,
        white,
        white 50%,
        rgba(135, 206, 235, 0.2)
      );

      &:hover {
        transition: 0.2s ease;
        background-color: rgba(135, 206, 235, 0.2);
        background-image: none;
      }

      &:focus {
        outline: none;
        // border: 2px solid rgba(135, 206, 235, 1);
      }
    }
    .first-last-name {
      display: grid;
      grid-template-columns: 50% 50%;

      .first {
        margin-right: 1px;
      }
      .last {
        margin-left: 1px;
      }
    }

    .socials {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;

      a {
        display: block;
        margin-top: 5px;
        .icon {
          width: 35px;
          height: 35px;
          margin-right: 6px;
          // box-shadow: rgba(135, 206, 235, 1) 1px 1px 2px;

          &:hover {
            transition: 0.2s ease;
            transform: scale(1.1, 1.1);
          }

          &:active {
            background-color: rgba(135, 206, 235, 1);
            border-radius: 6px;
          }
        }
      }
    }
  }
}

.footer {
  height: 100px;
  color: whitesmoke;
  font-size: 14px;
  background-color: rgb(26, 0, 0);

  #year {
    margin: 0 3px;
  }
}

@media only screen and (min-width: 621px) {
  #nav-dropdown {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  #nav-horizontal {
    display: none;
  }
  #nav-dropdown {
    padding: 0;
    .dropdown-toggle {
      padding: 0;
      padding-bottom: 10px;
    }
  }

  nav {
    height: 60px;
    .logo {
      height: 50px;
      width: 50px;
      margin-left: 5px;
      margin-top: 5px;
    }
  }

  #books {
    font-size: 15px;
    .title {
      font-size: $title-size-mobile;
    }
    .stuff {
      flex-direction: row-reverse;
      justify-content: center;
      align-items: top;
      .desc {
        margin-top: 15px;
      }
    }
  }

  #healing {
    .title {
      font-size: 1.2rem;
    }
    .subtitle {
      font-size: 0.9rem;
    }
  }

  #music {
    .title {
      font-size: $title-size-mobile;
    }
    .desc {
      font-size: 0.9rem;
    }
    .more {
      font-size: 18px;
    }
  }
  
  #connect {
    .connect {
      width: 270px;
    }
  }
}
