$width: 240px;
$height: 300px;

.book {
  width: $width;
  height: $height;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 48px;
  position: relative;
  perspective: 1000px;
  z-index: 2;

  box-shadow: 2px 2px 2px rgba(#000, 0.5);

  &:hover {
    cursor: pointer;

    .click-to-open {
      opacity: 0;
      transition: opacity 0.25s linear;
    }
  }

  .click-to-open {
    position: absolute;
    top: 87%;
    left: 25%;

    opacity: 1;
    transition: opacity 0.25s linear;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .text {
      display: inline-block;
      padding: 0px 5px;
      background-color: (rgba($color: #000000, $alpha: 0.2));
      color: rgba($color: #000000, $alpha: 0.7)
    }
  }
}

.book-image {
  width: 100%;
  height: auto;
  display: block;
}

.book-back {
  background-color: yellow;
}

.book-inner,
.book-pages::before,
.book-pages::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform-origin: left center;
  transition: transform 0.2s ease-in;
}
.book-cover {
  img {
    width: $width;
    height: $height;
  }
}
.book-cover,
.book-pages {
  transform-style: preserve-3d;
}

.book-pages {
  transform: scale(0.95, 0.9);
  perspective: 2000px;

  &::before,
  &::after {
    background-color: #fff;
    background-image: linear-gradient(
      to right,
      rgba(#000, 0.2),
      rgba(#000, 0.075) 97%,
      transparent
    );
    box-shadow: 1px 4px 5px 0 rgba(#000, 0.05);
    content: "";
  }
}

.book-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.book-back,
.book-pages {
  right: 0;
  bottom: 0;
}

.book-pages {
  &::after {
    transition-delay: 0.12s;
  }
  &::before {
    transition-delay: 0.105s;
  }
}

.book-pages + .book-pages {
  &::after {
    transition-delay: 0.09s;
  }
  &::before {
    transition-delay: 0.075s;
  }
}

.book-pages + .book-pages + .book-pages {
  &::after {
    transition-delay: 0.06s;
  }
  &::before {
    transition-delay: 0.045s;
  }
}

.book-pages + .book-pages + .book-pages + .book-pages {
  &::after {
    transition-delay: 0.03s;
  }
  &::before {
    transition-delay: 0.015s;
  }
}

.book:hover {
  .book-back,
  .book-cover::before {
    box-shadow: inset -2px 0 1px rgba(#000, 0.075);
  }

  .book-cover {
    transform: rotateY(-40deg);
    transition-timing-function: ease-out;
    transition-delay: 0s;
  }

  .book-pages {
    &::after {
      transform: rotateY(-12deg);
    }
    &::before {
      transform: rotateY(-8deg);
    }
  }

  .book-pages + .book-pages {
    &::after {
      transform: rotateY(-20deg);
    }
    &::before {
      transform: rotateY(-16deg);
      background-image: linear-gradient(
        transparent,
        rgba(255, 255, 255, 0.1) 10%,
        rgba(255, 255, 255, 0.5) 20%,
        rgba(50, 211, 136, 0.8) 40%,
        transparent 60%,
        rgba(255, 0, 0, 0.6) 90%,
        transparent
      );
    }
  }

  .book-pages + .book-pages + .book-pages {
    &::after {
      transform: rotateY(-28deg);
      background-image: linear-gradient(
        transparent,
        rgba(255, 255, 0, 0.5) 35%,
        transparent 40%,
        blanchedalmond 50%,
        skyblue 75%,
        transparent 95%,
        darkorange
      );
    }
    &::before {
      transform: rotateY(-24deg);
      background-image: linear-gradient(
        to top,
        transparent,
        rgba(255, 255, 0, 0.5) 35%,
        transparent 40%,
        rgb(155, 155, 241) 50%,
        blanchedalmond 75%,
        transparent 85%,
        orange 90%,
        greenyellow 95%
      );
    }
  }

  .book-pages + .book-pages + .book-pages + .book-pages {
    &::after {
      transform: rotateY(-36deg);
      background-image: linear-gradient(
        transparent,
        rgba(255, 0, 0, 0.5) 50%,
        transparent
      );
    }
    &::before {
      transform: rotateY(-32deg);
      background-image: linear-gradient(
        transparent,
        rgba(0, 255, 0, 0.5) 20%,
        transparent 50%,
        cyan 70%,
        transparent
      );
    }
  }
}
