* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.anchor {
  scroll-margin-top: 64px;
}

.text-shadow {
  text-shadow: 1px 1px 3px #fffdd0;
  transition: text-shadow 0.05s ease-in;
}
.text-shadow:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.dropdown-item_my {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  color: #007bff;
}

.hidden {
  display: none;
}

nav {
  position: sticky !important;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(white 85%, transparent);
  z-index: 6;
  font-family: Amatic SC;
  font-size: 23px;
  letter-spacing: 0.1rem;
}
nav .logo {
  height: 60px;
  width: 60px;
  margin-left: 30px;
}
nav .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
main .my-container {
  z-index: 2;
  display: relative;
}
main .my-container .grain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/grain.svg);
  opacity: 0.25;
  z-index: 0;
}

#visual-slam {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Cabin Sketch;
  font-style: italic;
  font-size: 18px;
  background-image: linear-gradient(to right, white, white 50%, rgba(135, 206, 235, 0.5));
}
#visual-slam .stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;
  width: 510px;
}
#visual-slam .stuff .desc {
  max-width: 250px;
}
#visual-slam .stuff .desc span {
  text-shadow: 1px 1px 3px #fffdd0;
  vertical-align: middle;
}

#healing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}
#healing .title {
  z-index: 1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
}
#healing .title .inf {
  font-size: 1.2rem;
}
#healing .desc {
  z-index: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 10px;
}
#healing .desc .we-can-address {
  color: #696969;
}
#healing .desc .anything-really {
  color: #919191;
}
#healing .photo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#healing .photo-container .photo {
  height: 132px;
  width: 132ddpx;
  border-radius: 50%;
}

#music {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10px 0;
  color: #d60000;
  font-family: Cabin Sketch;
  background: linear-gradient(90deg, rgba(255, 123, 0, 0.918) 20%, rgba(255, 123, 0, 0.25) 50%, rgba(255, 123, 0, 0.918) 80%);
}
#music .title {
  z-index: 1;
  font-size: 1.7rem;
  font-weight: bold;
}
#music .desc {
  font-family: Cabin Sketch;
}
#music .music-video-container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 840) {
  #music .music-video-container {
    flex-direction: column;
  }
}
#music .music-video-container .music-video {
  margin: 20px 5px 10px 5px;
}
#music .music-video-container .music-video iframe {
  width: 420px;
  height: 315px;
}
@media screen and (max-width: 600px) {
  #music .music-video-container .music-video {
    margin: 5px 5px 5px 5px;
  }
  #music .music-video-container .music-video iframe {
    width: 320px;
    height: 240px;
  }
}
#music .more {
  font-family: "Courier New", Courier, monospace;
}
#music .more .link-discography {
  font-family: Cabin Sketch;
  font-weight: bold;
  text-decoration: underline;
}

#whoami {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  background-image: linear-gradient(to left, white, blanchedalmond 40%, blanchedalmond);
  width: 100%;
  position: relative;
  padding: 25px 0;
}
#whoami .slideshow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 176px;
}
#whoami .slideshow .boyowa {
  position: absolute;
  height: 176px;
  width: auto;
  border-radius: 50%;
}
#whoami .desc {
  max-width: 400px;
  padding: 0 15px;
  font-family: Cabin Sketch;
  z-index: 1;
}
#whoami .show-more, #whoami .show-less {
  color: palevioletred;
  display: block;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
#whoami .show-more:hover, #whoami .show-less:hover {
  text-decoration: underline;
}
#whoami .show-less {
  font-weight: normal;
  font-size: 15;
}
#whoami .more-to-show {
  display: none;
}
#whoami .text-break {
  display: block;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  background-image: linear-gradient(to bottom right, white, white 50%, rgba(135, 206, 235, 0.5));
}
#connect .connect {
  width: 300px;
}
#connect .connect .title {
  display: block;
  font-family: Amatic SC;
  letter-spacing: 0.3rem;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
#connect .connect form {
  display: flex;
  flex-direction: column;
}
#connect .connect form > * {
  margin: 1px 0;
}
#connect .connect form button:hover {
  cursor: pointer;
}
#connect .connect form textarea {
  resize: vertical;
}
#connect .connect .form-input {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid rgb(135, 206, 235);
  padding: 7px 3px;
  background-image: linear-gradient(to bottom right, white, white 50%, rgba(135, 206, 235, 0.2));
}
#connect .connect .form-input:hover {
  transition: 0.2s ease;
  background-color: rgba(135, 206, 235, 0.2);
  background-image: none;
}
#connect .connect .form-input:focus {
  outline: none;
}
#connect .connect .first-last-name {
  display: grid;
  grid-template-columns: 50% 50%;
}
#connect .connect .first-last-name .first {
  margin-right: 1px;
}
#connect .connect .first-last-name .last {
  margin-left: 1px;
}
#connect .connect .socials {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
#connect .connect .socials a {
  display: block;
  margin-top: 5px;
}
#connect .connect .socials a .icon {
  width: 35px;
  height: 35px;
  margin-right: 6px;
}
#connect .connect .socials a .icon:hover {
  transition: 0.2s ease;
  transform: scale(1.1, 1.1);
}
#connect .connect .socials a .icon:active {
  background-color: rgb(135, 206, 235);
  border-radius: 6px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: whitesmoke;
  font-size: 14px;
  background-color: rgb(26, 0, 0);
}
.footer #year {
  margin: 0 3px;
}

@media only screen and (min-width: 621px) {
  #nav-dropdown {
    display: none;
  }
}
@media only screen and (max-width: 620px) {
  #nav-horizontal {
    display: none;
  }
  #nav-dropdown {
    padding: 0;
  }
  #nav-dropdown .dropdown-toggle {
    padding: 0;
    padding-bottom: 10px;
  }
  nav {
    height: 60px;
  }
  nav .logo {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-top: 5px;
  }
  #visual-slam .stuff {
    flex-direction: column;
    align-items: center;
  }
  #visual-slam .stuff .desc {
    margin-top: 15px;
  }
  #connect .connect {
    width: 270px;
  }
}/*# sourceMappingURL=index.css.map */